<app-blank pageTitle="Çalışanlar">
  <flexi-grid 
    [data]="data()!" 
    [dataBinding]="true" 
    [loading]="loading()" 
    (onRefresh)="result.reload()"
    [total]="total()!"
    [showCaption]="true"
    captionTitle="Çalışanlar"
    fontSize="15px"
    [showFilterPanel]="true"
    [useCommandDropdown]="false"
    [showIndex]="true"
    language="tr"
    commandColumnWidth="150px">

    <!-- Başlık sağ butonlar -->
    <ng-template flexiGridCaptionCommandTemplate>
      <flexi-button 
        btnSize="medium"
        btnIcon="add"
        btnColor="primary"
        title="Çalışan Ekle"
        flexiTooltip
        routerLink="/employees/create" />
    </ng-template>

    <!-- Kolonlar -->
    <flexi-grid-column field="createAt" title="Kayıt Tarihi" filterType="date" format="dd MMM yyyy HH:mm:ss"></flexi-grid-column>
    <flexi-grid-column field="firstName" title="Ad"></flexi-grid-column>
    <flexi-grid-column field="lastName" title="Soyad"></flexi-grid-column>
    <flexi-grid-column field="birthOfDate" title="Doğum Tarihi" filterType="date" format="dd MMM yyyy"></flexi-grid-column>
    <flexi-grid-column field="salary" title="Maaş" filterType="number" format="c" symbol="₺">
      <ng-template flexiGridFooterTemplate>
        <span>{{ getSalaryTotal() | currency:'TRY':'symbol':'1.2-2' }}</span>
      </ng-template>
    </flexi-grid-column>
    <flexi-grid-column field="createUserName" title="Kayıt Eden Kişi"></flexi-grid-column>
    <flexi-grid-column field="deleteAt" title="Silinme Tarihi" filterType="date" format="dd MMM yyyy HH:mm:ss"></flexi-grid-column>
    <flexi-grid-column field="deleteUserName" title="Silen Kişi"></flexi-grid-column>

    <!-- Komut kolonları -->
    <ng-template flexiGridColumnCommandTemplate  let-item>
        <flexi-button 
          btnSize="x-small" 
          btnIcon="delete" 
          btnColor="danger" 
          title="Sil" 
          flexiTooltip 
          (click)="delete(item)" />

        <flexi-button 
          btnSize="x-small" 
          btnIcon="edit" 
          btnColor="primary" 
          title="Düzenle" 
          flexiTooltip
          data-bs-toggle="modal" 
          data-bs-target="#editEmployeeModal"
          (click)="getEmployee(item.id)"/>

        <flexi-button 
          btnSize="x-small" 
          btnIcon="zoom_in" 
          btnColor="info" 
          title="Detay" 
          flexiTooltip/>
    </ng-template>

  </flexi-grid>

  <!-- Edit Butonuna tıklanınca açılacak modal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editEmployeeModalLabel">Çalışan Düzenle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
      </div>

      <div class="modal-body" *ngIf="selectedEmployee()">
        <form #form="ngForm" autocomplete="off" formValidate (ngSubmit)="save(form)">
          <input type="hidden" [(ngModel)]="selectedEmployee()!.id" name="id">
          <div class="mb-3">
            <label for="identityNumber" class="form-label">TC</label>
            <input type="text" class="form-control" id="identityNumber" placeholder="Tc Kimlik Numarası" [(ngModel)]="selectedEmployee()!.personnelInformation.identityNumber" name="identityNumber" minlength="11" maxlength="11">
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">Ad</label>
            <input type="text" class="form-control" id="firstName" placeholder="Ad giriniz" [(ngModel)]="selectedEmployee()!.firstName" name="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Soyad</label>
            <input type="text" class="form-control" id="lastName" placeholder="Soyad giriniz" [(ngModel)]="selectedEmployee()!.lastName" name="lastName">
          </div>
          <div class="mb-3">
            <label for="birthOfDate" class="form-label">Doğum Tarihi</label>
            <input type="date" class="form-control" id="birthOfDate" [(ngModel)]="selectedEmployee()!.birthOfDate" name="birthOfDate">
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">Maaş</label>
            <input type="number" class="form-control" id="salary" placeholder="Maaş giriniz" [(ngModel)]="selectedEmployee()!.salary" name="salary">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

</app-blank>
